@font-face {
  font-family: 'Axiforma';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Axiforma Thin'),
    url('./Kastelov\ -\ Axiforma\ Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Axiforma Thin Italic'),
    url('./Kastelov\ -\ Axiforma\ Thin\ Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light'),
    url('./Kastelov\ -\ Axiforma\ Light.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light Italic'),
    url('./Kastelov\ -\ Axiforma\ Light\ Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular'),
    url('./Kastelov\ -\ Axiforma\ Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Axiforma Italic'),
    url('./Kastelov\ -\ Axiforma\ Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Axiforma Medium'),
    url('./Kastelov\ -\ Axiforma\ Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Axiforma Medium Italic'),
    url('./Kastelov\ -\ Axiforma\ Medium\ Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Axiforma SemiBold'),
    url('./Kastelov\ -\ Axiforma\ SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Axiforma SemiBold Italic'),
    url('./Kastelov\ -\ Axiforma\ SemiBold\ Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Axiforma Bold'),
    url('./Kastelov\ -\ Axiforma\ Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Axiforma Bold Italic'),
    url('./Kastelov\ -\ Axiforma\ Bold\ Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Axiforma ExtraBold'),
    url('./Kastelov\ -\ Axiforma\ ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Axiforma ExtraBold Italic'),
    url('./Kastelov\ -\ Axiforma\ ExtraBold\ Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Axiforma Black'),
    url('./Kastelov\ -\ Axiforma\ Black.otf') format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Axiforma Black Italic'),
    url('./Kastelov\ -\ Axiforma\ Black\ Italic.otf') format('opentype');
}
