/* normalize/reset the styles for cross-browser compatibility */

@import url("~normalize.css");

/* axiforma font */

@import url("./typeface-axiforma/index.css");

/**
 * just use some simple grid library, we don't need to load whole bootstrap for that
 *
 * @see http://flexboxgrid.com/
 */

@import url("~flexboxgrid");

/* custom styles */

:root {
  --spacing: 5.4em;
}

html {
  background-image: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100%;
  font-family: 'Axiforma', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
}

:link, :link:active, :link:visited {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

p {
  margin: 0;
}

@media (max-width: 1199px) {
  html {
    background-image: url("./bg.jpg?size=1199");
  }
}

@media (max-width: 991px) {
  html {
    background-image: url("./bg.jpg?size=991");
  }
}

@media (max-width: 767px) {
  html {
    background-image: url("./bg.jpg?size=767");
  }
}

@media (max-width: 575px) {
  html {
    background-image: url("./bg.jpg?size=575");
  }
}

#content {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: var(--spacing);
}

.container>.row {
  margin-top: var(--spacing);
}

.container>.row:first-of-type {
  margin-top: calc(var(--spacing) + 0.1em);
}

.row>*:not(:last-of-type) {
  margin-bottom: var(--spacing);
}

@media only screen and (max-width: 48em) {
  .container {
    padding-left: 2em;
    padding-right: 2em;
  }
}

ul {
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  margin-bottom: 0;
  list-style-position: inside;
  padding: 0;
}
